.user-comment {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.btn-link {
  background:none!important;
  border:none; 
  padding:0!important;
  
  font-family:arial,sans-serif;
  color:#069;
}

.btn-link:hover {
  text-decoration:underline;
  cursor:pointer;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.comment-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.comment {
  outline: 1px solid gray;
  padding: 10px;
  margin: 10px;
}

.datetime {
  text-align: right;
  margin: 5px;
}

.avatar-box {
  width: 100px;
  height: 100px;
}

.avatar-image {
  width: 100px;
  height: 100px;
}

.forum-tab {
  border: 1px solid gray;
}

.question-box {
  margin: 20px;
  border: 1px solid gray;
  padding: 20px;
}

.center {
  text-align: center;
}